<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>209957949377-kip3um014414m2uffglshm5enqjcnl05.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.209957949377-kip3um014414m2uffglshm5enqjcnl05</string>
	<key>API_KEY</key>
	<string>AIzaSyBpI-5oK7C9LdvfxHlcS6bwte6mFDRhzzY</string>
	<key>GCM_SENDER_ID</key>
	<string>209957949377</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.newchatapp231427</string>
	<key>PROJECT_ID</key>
	<string>portfoliopro-68771</string>
	<key>STORAGE_BUCKET</key>
	<string>portfoliopro-68771.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:209957949377:ios:6a3fb41b24462edf</string>
	<key>DATABASE_URL</key>
	<string>https://portfoliopro-68771.firebaseio.com</string>
</dict>
</plist>